<h1>Waltz</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Lever</th>
    <th>Info</th>
    <th></th>
    <th></th>
  </tr>

<% @dances.each do |dance| %>
  <tr>
    <td><%= dance.name %></td>
    <td><%= dance.level %></td>
    <td><%= dance.info %></td>

  </tr>
<% end %>
</table>

