<div class="stats">
  <table summary="User stats">
    <tr>
      <td>
          <span class="stat">
             Your Waltz routine contains <%= @user.dance.count %> step(s)
          </span>
      </td>
    </tr>
  </table>
</div>