<% if not signed_in? %>
    <%= link_to "Login",signin_path,:class => "login_button round" %>
    <%= link_to "Sign up now!",signup_path, :class => "signup_button round" %>
<% end %>

<% if signed_in? %>
    <h1>Welcome! <%=@user.name%></h1>
<% end %>



